<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Building a Simple URL Shortener With Spring Boot</title>
    <meta charset="utf-8"/>
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"/>
</head>
<body>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="#"> <a class="nav-link active" href="#" th:href="@{/}">URL Shorter Application
        </a></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01"
                aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarColor01">
            <ul class="navbar-nav me-auto">
                <li class="nav-item">
                    <a class="nav-link active" th:href="@{/users}">List of Users</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" th:href="@{/urls}">List of URLs</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="/form">Generate Short URL</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<br/><br/>
<div class="container">
    <div class="card">
        <div class="card-header">Building a Simple URL Shortener With Spring Boot</div>
        <div class="card-body">
            <form th:href="@{/generate}" th:object="${url}" method="post">
                <div class="form-group">
                    <label >Full URL:</label>
                    <input type="text" th:field="*{originalUrl}" class="form-control" maxlength="255"/>
                    <input hidden type="text" th:field="*{shortUrl}" class="form-control" maxlength="255"/>
                </div>
                <button type="submit" class="btn btn-primary">Click here !</button>
            </form>
        </div>
    </div>
</div>
</body>
</html>
